{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "releases/*.alfredworkflow",
            "label": "Alfred 5 Github Workflow"
          },
        ]
      }
    ],
  ]
}
