name: Package

on:
  workflow_run:
    workflows: [Workflow Tests]
    types:
      - completed

jobs:
  release:
    if: ${{ github.ref_name == 'main' && github.event.workflow_run.conclusion == 'success' }}
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_AUTH_TOKEN }}

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x # Run with latest stable Deno.

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Setup package.json
        run: echo '{"name":"alfred-github-workflow", "devDependencies":{"esbuild":"^0.25.0","@semantic-release/git":"^10.0.1","@semantic-release/exec":"^7.0.3","semantic-release":"^24.2.3"}}' > package.json

      - name: Install dependencies
        run: npm install

      - name: Release
        run: npx semantic-release
        env:
          GH_TOKEN: ${{ secrets.GH_AUTH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
